<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-title">
    <h1 class="fw-bold custom-title">Geração de certificados</h1>
    <p class="mb-4 custom-subtitle">Preencha a pagina para gerar um novo certificado</p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title">Novo Certificado</h2>
    <div class="mb-3 custom-input-group">
      <label [ngClass]="{'text-danger-label': campoInvalido(nomeRef)}" for="nome" class="form-label ">Nome</label>
      <input [(ngModel)]=" certificado.nome" name="nome" #nomeRef="ngModel" maxlength="150" required id="nome" type="text"
        class="form-control custom-input" placeholder="Nome do Aluno">

      @if (campoInvalido(nomeRef)){
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">
          o nome do aluno é obrigatório
        </p>
      </div>
      }

    </div>

    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">
        <label  for="atividade" class="form-label">Atividade</label>
        <input #atividadeRef="ngModel" name="atividade" maxlength="50" required [(ngModel)]="atividade" id="atividade"
          type="text" class="form-control custom-input" placeholder="Atividade Exercida">

      </div>
      <app-secondary-button (click)="adicionarAtividade()"[disabled]="atividade.length == 0" textoBotao="Adicionar" phClass="ph ph-plus"></app-secondary-button>
    </div>
    <div class="atividade-group">
      <label class="form-label">Lista de Atividades</label>
      <div class="item-list w-100">
        @for (atividade of certificado.atividades; track $index) {
        <div class="item">
          <span class="item-text">{{atividade}}</span>
          <div (click)="excluirAtividade($index)" class="remove-btn">
            <i class="ph-bold ph-x "></i>
          </div>
        </div>
        @if ($index + 1 != certificado.atividades.length ){
        <hr>
        }
        <span>{{$index + '|' +atividade.length}}</span>
        }



      </div>
    </div>
    <app-primary-button (click)="submit()" [disabled]="!formValido()" textoBotao="Gerar certificado"></app-primary-button>
  </div>
</form>
